{% extends "package/read.html" %}

{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a class='active' href="/dataset/{{c.id}}/upload_form_data"> Form Data Upload</a>
{% endblock %}

  {% block primary_content_inner %}
  <!-- Empty so the description and map does not come up on this page-->
  {% endblock %}

{% block project_content %}
<div>
    <span>CSV Test</span>
    <form action="http://54.69.121.180:3000/providers/csv/load" method="POST" enctype="multipart/form-data">
        <input type="file" name="file_upload">
        <button type="submit" class="btn">Submit</button>
    </form>

</div>
    
<div>
    <span>GeoJSON Test</span>
    <form action="http://54.69.121.180:3000/providers/geojson/load" method="POST" enctype="multipart/form-data">
        <input type="file" name="file_upload">
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<div>
    <span>ONA Test</span>
    <form action="http://54.69.121.180:3000/providers/ona/load" method="POST" enctype="multipart/form-data">
        <input type="file" name="file_upload">
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{% endblock %}