{% extends "package/read_base.html" %}

{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a class='active' href="/dataset/{{c.id}}/parcels">Parcels</a>
{% endblock %}

{% block primary_nav_tabs %}
  <li><a  href="/project/{{ pkg.name }}">OVERVIEW</a></li>
  <li class="active-nav">PARCELS</li>
  <li><a  href='map'>MAP</a></li>
  <li><a  href='surveys'>SURVEYS</a></li>
  <li><a  href='resources'>RESOURCES</a></li>
  <li><a  href='activity_stream'>ACTIVITY STREAM</a></li>
{% endblock %}

  {% block primary_content_inner %}
    <a href='/dataset/{{ pkg.name }}/new/parcel'><div class="add-project-element icon-icon_add_parcel"></div></a>

  <div id="project-content">
        <div class="filter-box clearfix">
            <form method="get">
                <div class="left">
                    <div class="filter-group">
                         <label for="filter">Tenure Type</label>
                         <select name="filter" class="sort-box" onchange="this.form.submit()">
                              <option value="" {% if filter=='None' %} selected="selected"{% endif %}>All Types</option>
                              <option value="lease" {% if filter=='lease' %} selected="selected"{% endif %}>Leased Parcels</option>
                              <option value="own" {% if filter=='own' %} selected="selected"{% endif %}>Owned Parcels</option>
                              <option value="occupy" {% if filter=='occupy' %} selected="selected"{% endif %}>Occupied Parcels</option>
                              <option value="informal occupy" {% if filter=='informal occupy' %} selected="selected"{% endif %}>Informally Occupied Parcels</option>
                         </select>
                    </div>
                    <div class="filter-group">
                         <label for="sort">Sort By</label>
                         <select name="sort" class="sort-box" onchange="this.form.submit()">
                              <option value="">None</option>
                              <option>Parcel ID</option>
                              <option>Number of Active Relationships</option>
                              <option>Date Created</option>
                         </select>
                    </div>
                </div>

            <div class="right">
                    <input class="search" type="text" name="q" placeholder="{{ _('Search') }}" />
                    <noscript><input type="submit" value="Submit"></noscript>
            </div>
            </form>

        </div>

        <table id="parcelsTable" class="tablesorter table">
        <thead>
            <tr>
                <th>Parcel ID</th>
                <th>Area</th>
                <th>Number of Active Relationships</th>
                <th>Date Created</th>

            </tr>
        </thead>
        <tbody>
        {% if parcel_list.features %}
          {% for parcel in parcel_list.features %}
            <tr>
              <td><a href='parcel/{{ parcel.properties.id }}'>{{ parcel.properties.id }}</a></td>
              <td> {{ parcel.properties.area }} </td>
              <td> {{ parcel.properties.num_relationships }} </td>
              <td> {{ parcel.properties.time_created }} </td>
            </tr>
          {% endfor %}

        {% else %}
            <tr>
              <td colspan="4">No parcels found.</td>
            </tr>
        {% endif %}
        </tbody>
      </table>
  </div>
  {% endblock %}