{% extends "package/read_base.html" %}

{% set logged_in = true if c.userobj else false %}


{% block breadcrumb_content %}
  {{ super() }}
  <li><div class="icon-lnr-chevron-right"></div></li>
  <a class='active' href="/dataset/{{c.id}}/parcel/{{ c.parcel_id }}"> {{ c.parcel_id }}</a>
{% endblock %}

  {% block content_primary_nav %}

  <div id='project-title'>
     <span class="project-title">{{ pkg.title }} </span>
     <span class="project-control-buttons-right">
      <div class="icon-icon_edit"></div>
      <div class="icon-icon_export"></div>
      <!--{% if h.check_access('package_update', {'id':pkg.id }) %}-->
            <!--{% link_for _(''), controller='package', action='edit', id=pkg.name, class_='button', icon='wrench' %}-->
      <!--{% endif %}-->
      <a href="/project/{{ pkg.name }}/form_data_upload"><div class="icon-icon_add"></div></a>
     </span>

    <div id="project-nav-bar">

    {% block primary_nav_tabs %}
        <li>OVERVIEW</li>
        <li class="active-nav"> PARCELS </li>
        <li><a  href='{{ pkg.name }}/map'>MAP</a></li>
        <li><a  href='{{ pkg.name }}/surveys'>SURVEYS</a></li>
        <li><a  href='{{ pkg.name }}/resources'>RESOURCES</a></li>
        <li><a  href='{{ pkg.name }}/activity_stream'>ACTIVITY STREAM</a></li>
    {% endblock %}
    </div>

  </div>
  {% endblock %}


{% block primary_content_inner %}


  <div id='project-desc' class="project-block">
         <span class="small-heading">PARCEL DETAILS</span>
            <table>
              <tr>
                <th>Parcel ID</th>
                <td> {{ parcel_details.features[0].properties.id }} </td>
              </tr>
              <tr>
                <th> Area </th>
                <td> {{ parcel_details.features[0].properties.area }} </td>
              </tr>
              <tr>
                <th> Landuse </th>
                <td> {{ parcel_details.features[0].properties.land_use }} </td>
              </tr>
              <tr>
                <th> Government ID </th>
                <td> {{ parcel_details.features[0].properties.gov_pin }} </td>
              </tr>
              <tr>
                <th>Date Created</th>
                <td> {{ parcel_details.features[0].properties.time_created }} </td>
              </tr>
              <tr>
                <th>Date Updated</th>
                <td> {{ parcel_details.features[0].properties.time_updated }} </td>
              </tr>
              <tr>
                <th>Status</th>
                <td> {{ parcel_details.features[0].properties.active }} </td>
              </tr>
            </table>
  </div>

  <div class='project-block' id="project-extent">

    {% resource 'cadasta/customCSS.css' %}
    {% resource 'cadasta/map.js' %}

    <div id='small_map'></div>
    <meta id="data" data-obj="{{parcel_details.features[0].geometry}}">
  </div>

  <a href='/project/{{c.id}}/edit_parcel/{{ c.parcel_id }}' >Edit Parcel</a>



{% endblock %}

{% block secondary_content %}
    <div id="project-content">

        <div class="parcel-details-content">
            Parcel Relationships:

        <table id="parcelRelationshipsTable" class="parcel-details-table tablesorter">
            <thead>
                <tr>
                    <th>Relationship ID</th>
                    <th>Relationship Type</th>
                    <th>Party ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Time Created</th>
                    <th>Time Updated</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
             {% for relationship in parcel_details.features[0].properties.relationships %}
                <tr>
                  <td><a href='/project/{{c.id}}/parcel/{{ c.parcel_id }}/relationship/{{relationship.relationship_id}}' > {{ relationship.relationship_id }} </a></td>
                  <td> {{ relationship.relationship_type }} </td>
                  <td><a href='/project/{{c.id}}/party/{{ relationship.party_id }}' > {{ relationship.party_id }} </a></td>
                  <td> {{ relationship.first_name }} </td>
                  <td> {{ relationship.last_name }} </td>
                  <td> {{ relationship.time_created }} </td>
                  <td> {{ relationship.time_updated }} </td>
                  <td> {{ relationship.active }} </td>

                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="parcel-details-content right">
             Parcel Relationship History:

         <table id="parcelRelationshipsTable" class="parcel-details-table tablesorter">
            <thead>
                <tr>
                    <th>Relationship ID</th>
                    <th>Relationship Type</th>
                    <th>Party ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Time Created</th>
                    <th>Time Updated</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
             {% for relationship in parcel_details.features[0].properties.relationships %}
                <tr>
                  <td><a href='/project/{{c.id}}/parcel/{{ c.parcel_id }}/relationship/{{relationship.relationship_id}}' > {{ relationship.relationship_id }} </a></td>
                  <td> {{ relationship.relationship_type }} </td>
                  <td><a href='/project/{{c.id}}/party/{{ relationship.party_id }}' > {{ relationship.party_id }} </a></td>
                  <td> {{ relationship.first_name }} </td>
                  <td> {{ relationship.last_name }} </td>
                  <td> {{ relationship.time_created }} </td>
                  <td> {{ relationship.time_updated }} </td>
                  <td> {{ relationship.active }} </td>

                </tr>
              {% endfor %}
            </tbody>
        </table>

        </div>
        <a href='/project/{{c.id}}/parcel/{{ c.parcel_id }}/new/relationship'> New Relationship </a>

    </div>

    {% resource 'cadasta/map.js' %}
{% endblock %}



