{% extends "package/read.html" %}

{% block breadcrumb_content %}
  {{ super() }}
  <a href="/dataset/{{c.id}}/parcels"> / Parcels</a>
{% endblock %}

  {% block primary_content_inner %}
  <!-- Empty so the description and map does not come up on this page-->
  {% endblock %}

{% block project_content %}
    <div>
        <div class="filter-box">
            <a href='http://50.112.108.132:5000/dataset/{{ pkg.name }}/new/parcel'> New Parcel </a>
        </div>

     <br>
        <table id="parcelsTable" class="tablesorter table">
        <thead>
            <tr>
                <th>Parcel ID</th>
                <th>Area</th>
                <th>Time Created</th>

            </tr>
        </thead>
        <tbody>
         {% for parcel in parcel_list.features %}
            <tr>
              <!--<td><a href='http://50.112.108.132:5000/dataset/{{ pkg.name }}/parcel/{{parcel.parcel_id}}' >{{ parcel.parcel_id }}</a></td>-->
              <td> {{ parcel.properties.id }} </td>
              <td> {{ parcel.properties.area }} </td>
              <td> {{ parcel.properties.time_created }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}