{% ckan_extends %}





{% block main_content %}

Test space

<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    {% resource 'cadasta/app.js' %}
    <script>
        var myApp = angular.module('myApp', ['ui.router']);
        // For Component users, it should look like this:
        // var myApp = angular.module('myApp', [require('angular-ui-router')]);
        myApp.config(function($stateProvider, $urlRouterProvider) {
            //
            // For any unmatched url, redirect to /state1
            $urlRouterProvider.otherwise("/state1");
            //
            // Now set up the states
            $stateProvider
                    .state('state1', {
                        url: "/state1",
                        templateUrl: "/partials/read.html"
                    });
        });
    </script>
    ...
</head>
<body>
    <div ui-view></div>
</body>
</html>


{% endblock %}