<div id='project-title'>
    <span class="project-title">[{ projectTitle }]</span>
     <span class="project-control-buttons-right">
      <div class="icon-icon_edit"></div>
      <div class="icon-icon_export"></div>

      <a href="/project/[{ projectName }]/form_data_upload"><div class="icon-icon_add"></div></a>
     </span>

    <div id="project-nav-bar">
        <li class="active-nav">OVERVIEW</li>
        <li><a  href='[{ projectName }]/parcels'>PARCELS</a></li>
        <li><a  href='[{ projectName }]/map'>MAP</a></li>
        <li><a  href='[{ projectName }]/surveys'>SURVEYS</a></li>
        <li><a  href='[{ projectName }]/resources'>RESOURCES</a></li>
        <li><a  href='[{ projectName }]/activity_stream'>ACTIVITY STREAM</a></li>
    </div>

</div>


<div class="span3">
    <div id='big_map'></div>

    <script src="../js/big_map.js"></script>

</div>
