<div id='project-title'>
    <span class="project-title">[{ projectTitle }]</span>
     <span class="project-control-buttons-right">
      <div class="icon-icon_edit"></div>
      <div class="icon-icon_export"></div>

      <a href="/project/[{ projectName }]/form_data_upload"><div class="icon-icon_add"></div></a>
     </span>

    <div id="project-nav-bar">
        <li><a  href='[{ projectName }]/'>OVERVIEW</a></li>
        <li class="active-nav">PARCELS</li>
        <li><a  href='[{ projectName }]/map'>MAP</a></li>
        <li><a  href='[{ projectName }]/surveys'>SURVEYS</a></li>
        <li><a  href='[{ projectName }]/resources'>RESOURCES</a></li>
        <li><a  href='[{ projectName }]/activity_stream'>ACTIVITY STREAM</a></li>
    </div>

</div>



<div class="span3">

    <div id="project-content">
        <div class="filter-box clearfix">
            <form method="get">
                <div class="left">
                    <div class="filter-group">
                        <label for="filter">Tenure Type</label>
                        <select id="tenure_type" name="tenure_type" class="sort-box" onchange="$('#FilterForm').submit()">
                            <option value="" {% if tenure_type=='None' %} selected="selected"{% endif %}>All Types</option>
                            <option value="lease" {% if tenure_type=='lease' %} selected="selected"{% endif %}>Leased Parcels</option>
                            <option value="own" {% if tenure_type=='own' %} selected="selected"{% endif %}>Owned Parcels</option>
                            <option value="occupy" {% if tenure_type=='occupy' %} selected="selected"{% endif %}>Occupied Parcels</option>
                            <option value="informal occupy" {% if tenure_type=='informal occupy' %} selected="selected"{% endif %}>Informally Occupied Parcels</option>
                        </select>
                    </div>
                    <div class="filter-group">
                        <label for="sort">Sort By</label>
                        <select name="sort" class="sort-box" onchange="this.form.submit()">
                            <option value="">None</option>
                            <option>Parcel ID</option>
                            <option>Number of Active Relationships</option>
                            <option>Date Created</option>
                        </select>
                    </div>
                </div>

                <div class="right">
                    <input class="search" type="text" name="q" placeholder="search" />
                    <noscript><input type="submit" value="Submit"></noscript>
                </div>
            </form>

            <table id="parcelsTable" class="tablesorter table" ng-if="parcels">
                <thead>
                <tr>
                    <th>Parcel ID</th>
                    <th>Area</th>
                    <th>Number of Active Relationships</th>
                    <th>Date Created</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="parcel in parcels.features">
                    <td><a href='parcel/[{ parcel.properties.id }]'>[{ parcel.properties.id }]</a></td>
                    <td> [{ parcel.properties.area  }] </td>
                    <td> [{ parcel.properties.num_relationships }] </td>
                    <td> [{ parcel.properties.time_created }] </td>
                </tr>

                <tr ng-if="!parcels">
                    <td colspan="4">No parcels found.</td>
                </tr>

                </tbody>
            </table>
        </div>
</div>
