<!--{% block content_primary_nav %}-->

<div id='project-title'>
    <span class="project-title">[{ projectTitle }]</span>
     <span class="project-control-buttons-right">
      <div class="icon-icon_edit"></div>
      <div class="icon-icon_export"></div>

      <a href="/project/[{ projectName }]/form_data_upload"><div class="icon-icon_add"></div></a>
     </span>

    <div id="project-nav-bar">
        <li class="active-nav">OVERVIEW</li>
        <li><a  href='[{ projectName }]/parcels'>PARCELS</a></li>
        <li><a  href='[{ projectName }]/map'>MAP</a></li>
        <li><a  href='[{ projectName }]/surveys'>SURVEYS</a></li>
        <li><a  href='[{ projectName }]/resources'>RESOURCES</a></li>
        <li><a  href='[{ projectName }]/activity_stream'>ACTIVITY STREAM</a></li>
    </div>

</div>



<div class="span3">
    <div id="project-header">

        <div id='project-desc' class="project-block">
            <span class="small-heading">DESCRIPTION</span>
            <div >[{ projectDescription }]</div>
        </div>

        <div id="project-extent">

            <div id='small_map'></div>

        </div>
    </div>

    <div id="project-content">
        <div class='project-block' id="project-activity-summary">
            <span class="small-heading">LATEST ACTIVITY</span>

            <ul id="activity-list" ng-if="response" ng-repeat="activity in response.features">

                <li ng-if="activity.properties.activity_type == 'parcel'" class="activity-block block"><span class="bold">Parcel [{ activity.properties.id }]</span> was created at <span class="link">[{ activity.properties.time_created }]</span> </li>

                <li ng-if="activity.properties.activity_type == 'party'" class="activity-block block"><span class="bold">Party [{ activity.properties.name }]</span> was created at <span class="link">[{ activity.properties.time_created }]</span> </li>

                <li ng-if="activity.properties.activity_type == 'relationship'" class="activity-block block">Relationship between <span class="bold"> [{ activity.properties.name }]</span> and <span class="bold"> parcel [{ activity.properties.id }]</span> was created at <span class="link">[{ activity.properties.time_created }]</span> </li>
            </ul>
        </div>

        <div class='project-block' id="project-resource-summary">
            <span class="small-heading">PROJECT RESOURCES</span>
            <!--{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}-->
        </div>
    </div>
    <script src="../js/small_map.js"></script>

</div>
