<table>
    {% if parcel_details.id %}
  <tr>
    <th>Parcel ID</th>
    <td> {{ parcel_details.id }} </td>
  </tr>
    {% endif %}
    {% if parcel_details.area %}
  <tr>
    <th> Area </th>
    <td> {{ parcel_details.area }} </td>
  </tr>
    {% endif %}
    {% if parcel_details.land_use %}
  <tr>
    <th> Landuse </th>
    <td> {{ parcel_details.land_use }} </td>
  </tr>
    {% endif %}
    {% if parcel_details.gov_pin %}
  <tr>
    <th> Government ID </th>
    <td> {{ parcel_details.gov_pin }} </td>
  </tr>
    {% endif %}
    {% if parcel_details.time_created %}
  <tr>
    <th>Date Created</th>
    <td> {{ parcel_details.time_created }} </td>
  </tr>
    {% endif %}
    {% if parcel_details.time_updated %}
  <tr>
    <th>Date Updated</th>
    <td> {{ parcel_details.time_updated }} </td>
  </tr>
    {% endif %}
    {% if parcel_details.active %}
  <tr>
    <th>Status</th>
    <td> {{ parcel_details.active }} </td>
  </tr>
    {% endif %}
</table>




