#project-nav-bar {
    padding-left:25px;
    padding-top:40px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background:none;
    background-color:#eef2f5;
}


.wrapper {
    box-shadow:none;
}


.small-heading {
    color: #256c97;
    font-size:12px;
    font-weight:bold;
    display: inline-block;
    padding-bottom:10px;

}

.project-block {
    display: inline-block;
    text-align:left;
    background-color:white;
    font-size:10px;
    border: none;
    text-align:top;
    vertical-align:top;
    overflow:auto;
}


#summary-stats {
    height:200px;
}


#big_map {
  position:relative;
   width:100%;
   height:500px;
}


table {
    text-align:center;
    border: 1px solid #dcdfe1;
    width:90%
}


.inline-block {
    display: inline-block;
}


#sub-nav {
    display: inline-block;
    position: relative;
    width: 70px;
    padding-left: 10px;
    font-size: 8px;
    background-color: white;
    z-index: 1000;
    text-align: left;
    border: 1px solid #dcdfe1;
}

.toolbar {
  margin:0;
  background-color: white;
  padding: 10px;
}

#package_read_title {
    height:150px;
    width:100%;
}

.btn-list {
    display: inline-block;
    float:right;
    position:relative;
}


.project-summary-stats {
    font-size: 20px;
}


.span9 {
    margin-left: 0;
    width: 100%;
    background-color: white;
    padding: 0;
}

.page-header {
    margin-left: 0;
    background-color:white;
    padding:0;
}

subtab {
    text-align: left;
    padding-left: 50px;
    line-height: 50px;
    background-color: #B6B8B4;
    border: 1px solid #8B8C8A;
    color: black;
}


#project-extent {
    margin-top:12px;
    margin-right:12px;
    border: 1px solid #dcdfe1;
    width:291px;
    height:291px;
    display:inline-block;
    float:right;
}

#small_map {
    position:relative;
    width:100%;
    height:100%;
}


#project-resource-summary {
    float:right;
    width:295px;
    font-size:10px;
    height:200px;
    padding-top:12px;
    padding-left:12px;
    border: 1px solid #dcdfe1;
}

/* RW - commenting this out for now.  Make the CSS selector more specific so that only #project-content in a certain parent div gets 100% width.

.module-content {
    margin:0;
    width:100%;
    padding:0;
}



/*#project-content {*/
    /*margin:0;*/
    /*padding:0;*/
    /*height:100%;*/
    /*background-color: #eef2f5;*/
/*}
*/

#project-content {
    margin:0;
    padding:0;
    background-color: #eef2f5;
}

#project-content ul {
    padding: 0;
    margin:0;
}

.project-title {
    font-size: 18px;
    color: #2d3644;
    display:inline-block;
    padding-top:18px;
    padding-bottom: 20px;
    padding-left:25px;

}

#project-title {
    border: 1px solid #dcdfe1;
}

.span3 {
    width: 100%;
    margin:0;
    margin-top: 13px;
    /* min-height:220px; */
    margin-bottom:50px;
}

ul {
    list-style-type: none;
}


/* top nav toolbar */

.masthead-header {
    background-color:#2d3644;
    height: 45px;
    text-align: center;
}

header .header-container {
    width:1024px;
    margin: auto;
    height:100%

}

.masthead-header span {
    padding-right: 35px;
    padding-top: 14px;
    display: inline-block;
    float:left;
}


.masthead-header ul li {
    padding-right: 35px;
    display: inline-block;
    float:left;
}

.masthead-header ul li a {
    color: #858c92;
    font-weight: semi-bold;
    font-size: 12px;
    text-decoration: none;
}


/* Sarah's row modification.  Putting it back to default to we don't throw of the default CKAN look and feel. */
/*.row {*/
    /*height:0;*/
    /*border:none;*/
    /*background-color: #eef2f5;*/
    /*width:860px;*/
    /*border: none;*/
/*}*/

.row {
margin-left: -20px;
}

#content {
    width: 860px;
}

li {
    display: inline-block;
}

.block {
    display: block;
}

.bold {
    font-weight:bold;
}

.link {
    color: #3c95c1;
}


.toolbar .breadcrumb a {
    font-size: 10px;
    font-family: 'Open Sans';
    color: #256c97;

}

.toolbar .breadcrumb {
    padding:0;
    margin:0;
    background-color:white;
    height:25px;
    line-height: 0;
}

.toolbar {
    padding:0;
    border-top: 1px solid #dcdfe1;
    border-left: 1px solid #dcdfe1;
    border-right: 1px solid #dcdfe1;
}



#project-desc {
    margin-top:35px;
    margin-left:25px;
    width: 450px;
}

/* RW - removed fixed height so activity feed will push down without an internal scrollbar */
#project-activity-summary {
    width:510px;
    padding-top:12px;
    padding-left:25px;
    float:left;
    border: 1px solid #dcdfe1;

}


footer {
    background-color: #eef2f5;
    height: 50px;
    width:100%;
    bottom:0;
    position: fixed;
    border-top: 1px solid #dcdfe1;
}

.project-control-buttons-right {
    display: inline-block;
    float: right;
    padding-top:18px;
    padding-right: 25px;
}

.project-control-buttons-right span {
    margin-left: 8px;
}

#project-header {
    border: 1px solid #dcdfe1;
    height:315px;
}

#project-nav-bar li {
    vertical-align:bottom;
    margin-right: 40px;
}

.section site-search simple-input {
    display: inline;
}

#project-nav-bar li a {
    color: #2d3644;
    font-weight: semi-bold;
    text-decoration: none;

}

#project-nav-bar li a:hover {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

#project-nav-bar li a:active {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}


#content {
    background-color:#eef2f5;
}


.module-content:last-child {
    margin-bottom: 0;
     padding-bottom: 0;
}

#main-div {
    background-image: none;
    background-color:#eef2f5;
}

.nav-tabs {
    border-bottom: none;
}

header .page-header-new {
    border: 1px solid #dcdfe1;
    height:135px;
}

ul, ol {
     padding: 0;
     margin: 0;
}


.masthead .nav-collapse {
    width: 800px;
    float: right;
    background-color: yellow;
}

form .lang-select {
    margin:0;
    display:inline-block;
}

.field {
    margin:0;
}

#language-selector {
    margin-left:20px;
    padding-top:16px;
}



#footer-container {
    height:50px;
    vertical-align:center;
    color:black;
    background-color: #eef2f5;
    width: 1024px;
    margin: auto;
}

#footer-container div {
    display:inline-block;
    float:left;
}

#footer-container #footer-logo {
    font-size: 26px;
    color: black;
    float: right;
    display: block;
    padding-top: 14px;
}

.search-field {
    padding-left: 50px;
    padding-top: 45px;
    margin:0;
    padding-bottom:0;
}

.activity-block {
    display: block;
    width: 90%;
    border-bottom: 1px solid #dcdfe1;
    height: 35px;
}

.resource-block {
    display: block;
    width: 90%;
    height: 35px;
}


#field-sitewide-search {
    width: 100px;
}


#header-logo {
    padding-left: 20px;
    float: left;
}

#header-profile-options {
    padding-right: 0;
    float: right;
    max-width: 80px;
}


.toolbar .breadcrumb li:after {
    content: "";
    padding: 0;
    margin: 0;
    font-size: 8px;
    font-weight: bold;
}

input[type="text"] {
    margin: 0;
}

.search-box-field{
    padding-bottom: 5px;
    padding-left: 40px;
}

#projectTable {
    margin:auto;
    width:820px;
    padding: 20px;
}

#projectTable tr th {
    font-size: 12px;
    color: black;
    background-color: white;
    font-wieght: bold;

}

#projectTable tr {
    border: 1px solid #dcdfe1;
}

#projectTable tr td {
    font-size: 10px;
    color: black;
    background-color: white;
}

.table {
    margin:auto;
}


.table tr th {
    font-size: 12px;
    color: white;
    background-color: grey;
    font-weight: bold;
    text-align: center;

}


.table tr {
    border: 1px solid #dcdfe1;
}

.table tr td {
    font-size: 10px;
    color: black;
    background-color: white;
    text-align: center;
}



#project-result-text {
    padding-left:20px;
    font-size: 14px;
}

#all-rights-reserved {
    padding-top: 16px;
}

.header-container span ul li {
    padding-right: 0;
    margin-right: 35px;
    margin-bottom: 10px;
    height: 21px;
}

.header-container span ul li:hover {
    border-bottom: 2px solid white;
    font-weight: semi-bold;
    text-decoration: none;
}

.header-container span ul li:active {
    border-bottom: 2px solid white;
    font-weight: semi-bold;
    text-decoration: none;
}

.search-form .control-order-by {
    margin-right:20px;
}

dataset-list {
    padding-bottom: 20px;
}

.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {
    font-weight: bold;
    color: #8b8b8b;
}

#profile_options {
    margin-right: 15px;
}

#about-button {
    margin-right: 15px;
}

.sub_nav_active {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

#add-parcel {
    position: fixed;
    top: 100px;
    right: 20px;
}

.filter-box {
    border: 1px solid #dcdfe1;
    background-color: white;
    background-color: white;
    padding: 20px;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    border:none;
}

.sort-box {
    width: 100px;
    padding: 0;
    margin-right: 20px;
    float: left;
}

.search {
    float:right;
}

.login-block {
    border: 1px solid #dcdfe1;
    padding-bottom:40px;
    text-align:center;
}

.secondary-login-block {
    background-color: white;
    border: 1px solid #dcdfe1;
    height: 50px;
    text-align:center;
}


.loginMaskRow {
    width: 370px;
    margin: 15px auto;
    height: 50px;
    border: 1px solid #DBDBDA;

}

.loginMaskLabel {
    font-size:16px;
}

.loginMaskInput {
    width: 300px;
    padding-left:20px;
    position: relative;
    z-index: 2;
    border-style: solid;
    border-radius: 0;
    float: right;
    height: 40px;
}

.loginMaskInput input:focus {
    border: none;
    outline:0;
}

.loginMaskRow:hover {
    border: 1px solid #256C97;
}

.loginMaskRow:active {
    border: 1px solid #256C97;
}


.add-account-button {
    padding-top:18px;
}

.cadasta-button {
    background-color: #256C97;
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
}

/* RW - Commenting this out for now.  Let's make the CSS selector more specific, so that we're only making the inputs on the Login Page (for example) this size.   */
/*input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #cccccc;*/
    /*-webkit-box-shadow: none;*/
    /*border-radius: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
    /*-webkit-transition: none;*/
    /*-moz-transition: none;*/
    /*-o-transition: none;*/
    /*transition: none;*/
/*}*/

#field-password {
    height: 40px;
    border-radius: 0;
    border: none;
}

#field-login {
    height: 40px;
    border-radius: 0;
    border: none;
   /* position: relative;
    z-index: 2;
    padding: 0;
    width: 350px; */
}


input[type=checkbox] {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    }

#field-password input:focus {
    border: none;
    outline: 0;
}


#project-nav-bar li a.active-nav {
    color: #256c97;
    font-weight: bold;
    border-bottom: 2px solid #256c97;
    text-decoration: none;
}

#project-content .project_content_inner_wrapper{

    background-color: #fff;
    padding: 20px;
    border: 1px solid #DBDBDA;

}

input[type="text"].register-input {
    width: 356px;
    height: 40px;
    border: none;
}

input[type="text"].register-input :focus {
    outline: 0;
}

.filter-box .filter-group{
    float: left;
}